* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #5171fd;
  }

img { max-width: 100%; }

/* Gridlex reset */
[class*=grid-], [class*=grid_], [class~=grid] {
    margin: 0;
}


/* Re-usable Utiity Classes  */
.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }

.padded    { padding: 5%; }

.padded-1,
.grid.padded-1 { padding: 1rem; }

.padded-2,
.grid.padded-2 { padding: 2rem; }

.margin-b-0 { margin-bottom: 0; }
.margin-b-1 { margin-bottom: 1rem; }

.margin-t-0 { margin-top: 0; }
.margin-t-1 { margin-top: 1rem; }

.bg-light    { background-color: #f8f6f4; }
.bg-featured { background-color: #018ca2; }

.text-featured { color: var(--main-color); }
.text-white { color: #fff; }

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }


/* General typography & universal styles  */
body { 
    font-family: 'Fraunces', serif;
    color: rgb(80, 80, 80);
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin-bottom: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1px;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }

p, ul, li, a { font-size: 1.1rem; }

p {
    line-height: 1.4; 
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
}

ul {
    margin-left: 2rem;
    margin-top: .5rem;
}

li {
    padding-left: .25rem;
    margin-bottom: .25rem;
}

h1:last-child, 
h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child {
    margin-bottom: 0;
}

.text-lg { font-size: 3.5rem; }
.text-xl { font-size: 4.5rem; }
.text-xxl { font-size: 8.5rem; }
.text-bold { font-weight: 700; }

a {
    color: inherit;
    text-decoration: none;
}

/* Button */
.button {
    display: inline-block;
    color: var(--main-color);
    font-weight: 400;
    border: 1px solid var(--main-color);
    border-radius: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 0.75rem 0;
}

.button:hover {
    color: #fff;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

/* Form */
form input, 
form textarea {
  width: 100%;
  margin: .75rem 0;
  padding: .75rem;
  border: 1px solid rgb(220,220,220);
  outline: none;
  font-family: inherit;
  font-size: 1rem;
}

form input:focus,
form textarea:focus {
  border-color: var(--main-color);
}

textarea {
  min-height: 8rem;
}

form label {
  margin-top: 1rem;
  display: block;
  font-weight: 700;
}

form button {
    display: inline-block;
    color: var(--main-color);
    background-color: transparent;
    font-family: inherit;
    font-size: 1rem;
    border: 1px solid var(--main-color);
    border-radius: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 0.75rem 0;
}

form button:hover {
    color: #fff;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

/* Header & Footer */

footer {
    padding-bottom: 0.5rem;
    color: rgb(125,120,120);
}

/* Images & Background Images */

.bg-image {
    background-size: cover;
    background-position: center; 
    background-color: #f3f4f5;
}

.bg-hero { background-image: url('/images/white-water-rafting-ubud-hero-muted.jpg'); }

.bg-leaves { 
    background-image: url('/images/zen-studio-1.jpg');
    background-position: 50% 31%;
}

.bg-venue { background-image: url('/images/zen-studio-3.jpg'); }
.bg-map { background-image: url('/images/light-colored-map.png'); } 

.shape-teardrop {
    border-radius: 20rem;
    border-bottom-right-radius: 0;
}

.shape-window {
    border-top-left-radius: 20rem;
    border-top-right-radius: 20rem; 
}

/* Gridlex SM query - Max 768px - _sm-* */
@media (max-width: 48em) {
    .text-xxl { font-size: 6.5rem; }
    .text-xl { font-size: 3.5rem; }
    
    .sm-block { display: block; }

    .bg-leaves { background-image: url('/images/leaves-light.png'); }

    .text-center-sm { text-align: center; }

    .padded-b-0-sm,
    .grid.padded-b-0-sm { padding-bottom: 0; }

    .margin-b-0-sm { margin-bottom: 0; }
    .margin-b-1-sm { margin-bottom: 1rem; }

    .margin-t-0-sm { margin-top: 0; }
    .margin-t-1-sm { margin-top: 1rem; }
}	

/* Gridlex XS media query - Max 576px - _xs-* */
@media (max-width: 36em) {
    .text-xl { font-size: 3.5rem; }
    .text-lg { font-size: 4rem; }
    .text-xxl { font-size: 5.5rem; }
}	

/* Custom XXS media query - Max 400px - _xs-* */
@media (max-width: 25em) {
    .text-xxl { font-size: 3.5rem; }
}	